layout {

    focus-ring {
        active-color   "#83d2e5"
        inactive-color "#0e1416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#83d2e5"
        inactive-color "#0e1416"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#83d2e5"
        inactive-color "#004e5b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#83d2e580"
    }
}

recent-windows {
    highlight {
        active-color "#83d2e5"
        urgent-color "#ffb4ab"
    }
}
